<app-loading *ngIf="!recipes"></app-loading>
<div class="container-fluid">
    <div class="row">
        <div class="bg">
            <div class="image-container cover">
                <img src="/assets/bg.jpg" alt="">
            </div>
            <div class="search-bar container-fluid">
                <div class="row justify-content-center h-100">
                    <div class="col-11 col-md-6">
                        <form class="search-input-container" ngForm>
                            <span><mat-icon>restaurant</mat-icon></span>
                            <input type="text" (keyup)="type()" [(ngModel)]="query" name="search" class="search-input" placeholder="Keresés...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="recipes row mt-5">
            <div *ngFor="let recipe of recipes" class="recipe-container col-md-4" [routerLink]="['/recipe', recipe.id]">
                <div class="container-fluid d-flex flex-column">
                    <div class="row h-100">
                        <div class="recipe-bg">
                            <div class="image-container cover">
                                <img [src]="recipe.imageUrl" [alt]="recipe.name">
                            </div>
                            <div class="col-10 title-box pt-3 px-3 pb-1">
                                <h3>{{ recipe.name }}</h3>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="info-box row">
                                <div class="col-6">
                                    <div class="quantity d-flex align-items-center justify-content-center w-100">
                                        <div class="info">
                                            <span class="info-key"><mat-icon>people_alt</mat-icon></span>
                                            <span class="info-value">{{recipe.quantity}}</span>
                                            <span *ngIf="recipe.quantity2">- {{recipe.quantity2}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 info">
                                    <span class="info-key" style="color: var(--dark-amber)"><mat-icon>category</mat-icon></span>
                                    <span class="info-value">{{recipe.category|category}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>