<app-loading *ngIf="!recipe"></app-loading>
<div class="container-fluid" *ngIf="recipe">
    <div class="row">
        <div class="recipe-bg">
            <div class="image-container cover">
                <img [src]="recipe.imageUrl" alt="">
            </div>

            <div class="col-9 col-md-4 title-box pt-3 px-3 pb-1">
                <h1>{{recipe.name}}</h1>
            </div>

            <button class="edit" [routerLink]="['/edit', recipe.id]">
                <span>Szerkesztés</span><mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
    <div class="row justify-content-center top-box">
        <div class="col-9 col-md-4">
            <div class="info-box row">
                <div class="col-6">
                    <div class="quantity d-flex align-items-center justify-content-center w-100">
                        <mat-icon (click)="decreaseQuantity()">remove</mat-icon>
                        <div class="info">
                            <div>
                                <span class="info-value">{{recipe.quantity}}</span>
                                <span class="info-value" *ngIf="recipe.quantity2">- {{recipe.quantity2}}</span>
                            </div>
                            <span class="info-key">főre</span>
                        </div>
                        <mat-icon (click)="increaseQuantity()">add</mat-icon>
                    </div>
                </div>
                <div class="col-6 info">
                    <span class="info-value">{{recipe.category | category}}</span>
                    <span class="info-key">kategória</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-11  col-md-4 d-flex align-items-center flex-column">
            <div>
                <div class="ingredient-group" *ngFor="let group of recipe.ingredientGroups">
                    <h3>{{group.name || 'Hozzávalók'}}</h3>
                    <dl class="ingredient" *ngFor="let ingredient of group.ingredients">
                        <dt><mat-icon>check_circle_outline</mat-icon></dt>
                        <dd>
                            <span>{{ingredient.quantity}}</span>
                            <span *ngIf="ingredient.quantity2">- {{ingredient.quantity2}}</span>
                            <span> {{ingredient.name}}</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-11 col-md-8 instructions">
            <div class="row">
                <div class="col-12 col-md-10 text-justify">
                    <h3>Leírás</h3>
                    <p *ngFor="let instruction of recipe.instructions">{{instruction}}</p>
                </div>
            </div>
        </div>
    </div>
</div>